In [2]:
#Variable Assignment or Variable Binding - When we store and recall any value in a variable. It is not the same as equality.
#You put the name on the left, the variable on the right. Variable names mus begin with a letter or an underline. 
#Variable names are case sensitive and shouldn't contain reserved Python words.

In [ ]:
#For equality, we use ==

In [3]:
2 + 2 == 4

True

In [4]:
'hat'+'s' == 'hats'

True

In [ ]:
#We should always give our variables a name that reminds us what kind of value we are storing in the variable, variable names that remind you of variable content

In [ ]:
#BASIC DATA TYPES

In [6]:
#1. NUMBERS
#There are 3 types of numbers: ingteger, float or floating point, and complex.As linguists, we are only going to be using the first 2
#The suffix for complex numbers is j or i
#integer int 3 > to convert from string int('3')
#float 7.2 > float('7.2')
#complex 2+4j > complex('2+4j')

In [7]:
#2. BOOLEANS
#Expressions that are true or false, two members: true and false
#These can be manipulated with basic logical operators: and, or, and not
#boolean type is bool
#the operators are binary operators,always take two expressions

In [ ]:
#equality ==
#inequality !=
#follows alphabetically >
#follows alphabeticaly or equal >=
#precedes alphabetically <
#precedes alphabetically or equal <=

In [1]:
len('hat') > 7 - 2 == 3

False

In [3]:
True and (8 == 4 + 4) and (True or False)

True

In [ ]:
#isinstance: we use this to test if some element or variable is of a particular type

In [4]:
isinstance (3, int)

True

In [5]:
isinstance (3.0, float)

True

In [6]:
isinstance(True, bool)

True

In [7]:
isinstance (3 + 3j, complex)

True

In [8]:
isinstance (3 == 4, bool)

True

In [9]:
#3. STRINGS
#This is the most important type for linguists because linguists are concerned with sounds, words, and entences which are represented by strings

In [ ]:
#Triple quoted strings: marked with 3 single or double quotes. 
#It's a convenient way to enter multiline strings

In [10]:
'''This is a string
that continues on 
more than one line'''

'This is a string\nthat continues on \nmore than one line'

In [11]:
#\n : representents a line break

In [12]:
x = '''This is
more than
one line'''

In [13]:
print(x)

This is
more than
one line

In [14]:
y = 'this is \n more than \n one line'

In [15]:
print (y)

this is
 more than
 one line

In [ ]:
# \t : represents a tab

In [22]:
z = 'ang\tbata\tang\tkumain\tng\tmangga\t'

In [23]:
print(z)

ang	bata	ang	kumain	ng	mangga

In [ ]:
#if you want to type a \, just do a double backlash \\

In [25]:
print ('xyz\\nabc')

xyz\nabc

In [31]:
# r'' raw string notation
#If you have a string with a lot of backlashes, just use r'', and the backlashes will be considered a backlash

In [33]:
p = r'abc\nxyz'

In [34]:
print (p)

abc\nxyz

In [35]:
#format () : it is a method
#Basically, you put {} for slots and you use .format() to put words or fill those slots

In [41]:
f = '{} Jessy'

In [43]:
g = f.format('Hello')

In [44]:
print (g)

Hello Jessy

In [ ]:
#The format method can take multiple arguments because a string can have multiple slots

In [45]:
h = '{} Jessy. {}?'

In [51]:
i = h.format('Kamusta', 'Okay ka lang ba')

In [52]:
print(i)

Kamusta Jessy. Okay ka lang ba?

In [ ]:
#If a string has multiple slots, they can be numbered from 0. They are filled in that order: 0, 1, 2, 3

In [56]:
j = 'one = {0}; two = {1}; three = {2}'

In [62]:
k = j.format('isa', 'dalawa', 'tatlo')

In [63]:
print (k)

one = isa; two = dalawa; three = tatlo

In [ ]:
#If the argument supplied by format () is less than the space reserved, you indicate alignment to the left, rigth, center with <, >, and ^

In [81]:
# {:<10} left
# {:>10} right
# {:^10} middle

In [72]:
l = '-{:<10}-'

In [75]:
l.format ('one')

'-one       -'

In [76]:
m = '-{:>10}-'

In [78]:
m.format('two')

'-       two-'

In [79]:
n = '-{:^10}-'

In [80]:
n.format('three')

'-  three   -'

In [ ]:
#to extract a part of a string x[place]

In [1]:
o = 'happiness'

In [2]:
o[2]

'p'

In [ ]:
#extract a sequence of character o[2:4]
#starts at the first item, and ends at the item before the second item

In [4]:
o[0:3]

'hap'

In [ ]:
#Thus x[n:n+1] = x[n] so if we have x[n:m] where m<n+1, it will be an empty string

In [5]:
o[1:1]

''

In [ ]:
#extract from start to present x[:2]

In [6]:
o[:2]

'ha'

In [ ]:
#extract from integer onwards

In [7]:
o[2:]

'ppiness'

In [8]:
#4. LISTS -a single structure that holds a sequence of elements of whatever type you wan. You can create a list by simply listing elements in square brackets

In [192]:
fruits = ['banana', 'apple', 'mango', 'peach']

In [193]:
#we can use the len() for lists

In [194]:
len(fruits)

4

In [195]:
#we can also index into a list

In [196]:
fruits[1]

'apple'

In [197]:
fruits[:2]

['banana', 'apple']

In [198]:
fruits[0:4]

['banana', 'apple', 'mango', 'peach']

In [199]:
#LIST METHOD 1: append () : adds an element at the end of the list

In [200]:
fruits.append('grapes')

In [201]:
#lIST METHOD 2: pop () : removes an element at an indexed position

In [202]:
fruits.pop(1)

'apple'

In [204]:
fruits

['banana', 'mango', 'peach', 'grapes']

In [206]:
fruits.pop(3)

'grapes'

In [207]:
fruits

['banana', 'mango', 'peach']

In [ ]:
#LIST METHOD 3 : .insert() the element is inserted before the index specified. 2 items  separated by a comma

In [47]:
fruits.insert(2,'orange')

In [49]:
fruits

['banana', 'mango', 'orange', 'oranges', 'peach', 'grapes']

In [50]:
fruits.pop(3)

'oranges'

In [51]:
fruits

['banana', 'mango', 'orange', 'peach', 'grapes']

In [ ]:
#LIST FUNCITION: range() : returns a range object from 0 to that argument

In [52]:
q = range(25)

In [53]:
list(q)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24]

In [ ]:
#LIST METHODS 4 AND 5: SORT AND REVERSE : sorts a list andreverse, works only for a list of uniform objects that are sortable

In [56]:
r = [2,6,5,1,3,4]

In [57]:
r.sort()

In [58]:
r

[1, 2, 3, 4, 5, 6]

In [59]:
r.reverse()

In [60]:
#OPERATOR : in. The operator in is used to test for membership in a list

In [61]:
9 in r

False

In [62]:
'strawberries' in fruits

False

In [ ]:
#4. TUPLES: a fixed sequene of elements that is similar to a list. The key diference is that tuples are FIXED n length, and once created, cannot be changed.

In [ ]:
#Tuples use parantheses. An empty tuple is just (). A tuple with just one element MUST HAVE A  COMMA

In [ ]:
#len function and index x[1] can work with tuples too

In [64]:
s = (1,2,3,4,5)

In [65]:
len(s)

5

In [66]:
s[1]

2

In [ ]:
#the in operator works with tuples too

In [67]:
0 in s

False

In [68]:
#we can convert a tuple into a list

In [69]:
type(s)

tuple

In [70]:
list(s)

[1, 2, 3, 4, 5]

In [71]:
type(s)

tuple

In [1]:
#5. DICTIONARIES: most useful data types for linguists, sets of pairs. We use square brackets. The first element is the key and the second element is the value
#Keys have to be distinct.

In [2]:
#To look up values, you have to put the key in a square bracket

In [20]:
d = {'cat': 7, 'chair':'hat', 'table': 7}

In [21]:
d['cat']

7

In [8]:
#We can use the len () function
len(d)

3

In [ ]:
#We can add a new pair like this: name of dictionar['key']: value

In [9]:
d['dog'] = 1.2

In [10]:
len(d)

4

In [ ]:
#We can use the in operator to test for membership in the dictionary keys

In [11]:
'dog' in d

True

In [12]:
'aso' in d

False

In [ ]:
#dictionary items can be altered or deleted

In [22]:
d

{'cat': 7, 'chair': 'hat', 'table': 7}

In [23]:
d['cat'] = d['cat'] + 2

In [24]:
d['cat']

9

In [ ]:
#to delete a dictionary item, just put del(d['key'])

In [25]:
del(d['cat'])

In [26]:
d

{'chair': 'hat', 'table': 7}

In [ ]:
#to extract keys, values, or items from a dictionary, just put name of dictionary.keys or .values or .items(). You can convert to a list after

In [27]:
d.keys

In [28]:
list(d.keys())

['chair', 'table']

In [29]:
list(d.items())

[('chair', 'hat'), ('table', 7)]

In [30]:
list(d.values())

['hat', 7]

In [ ]:
#Dictionaries can be used directly with the string method format (). Basically, you can put the keys inside a slot {} and use **dictionaryname

In [39]:
d

{'chair': 'hat', 'table': 7}

In [40]:
f = 'summer = {chair} and ikea = {table}'

In [42]:
f.format(**d)

'summer = hat and ikea = 7'

In [ ]:
#MUTABILITY: Some objects in python can be changes and others cannot. 
#Garbage Collection: when you don't use an element, Python detects this and removes the element, freeing up memory. This also happens when you change the value assigned to a variable.

In [ ]:
#LISTS AND DICTIOANRIES ARE MUTABLE. STRINGS AND TUPLES ARE NOT.

In [ ]:
#CHAPTER 2 EXERCISES

In [ ]:
#2.1 What does this code do? isinstance(bool == bool,bool)
#isinstance determines the type of an element. in this case, bool is a boool so they equate to each other. It will return True

In [43]:
isinstance(bool == bool,bool)

True

In [ ]:
#2.2 What does this code do a = 3 == 3? What is the result and why? 
#What's the  difference between that code snippet and this one: a ==3 3=3? (Note that the latter produces an error)

In [45]:
#Here, the integer 3 is assigned to the variable a which equates to 3
g= 3 == 3

In [46]:
#Here, it produces an error because the variable a is not defined and you cannot assign a variable to a comparison
g == 3 = 3

SyntaxError: cannot assign to comparison (Temp/ipykernel_18176/1848374057.py, line 1)

In [ ]:
#2.3 Write three lines of code that: create a variable with the value 37; create another variable with the value 4, print out the result of multiplying those together.

In [ ]:
h = 37

In [ ]:
i = 4

In [47]:
print (37 * 4)

148

In [ ]:
#2.4 Write three lines of code that create a string 'transformational', create a string 'grammar', concatenat those together and print the result (Make sure there is a space between the two words)

In [48]:
j = 'transformational'

In [50]:
k = ' grammar'

In [51]:
j + k

'transformational grammar'

In [ ]:
#2.5 Explain what the following bit of code does and why it's a bad idea: yes = 'no' no = 'yes'

In [53]:
yes = 'no'

In [54]:
no = 'yes'

In [ ]:
#It is a bad idea because you can confuse the string with the variable. It is important to give variables a name that reminds us of what kind of value we are storing in the variable, not the opposite

In [ ]:
#2.6 Write a single line of code that tests whether 7^3 is greater than 15 x 16.

In [55]:
7**3 > 15 * 16

True

In [56]:
#2.7 Explain what's going on below: is m mutable?

In [61]:
m = 'abc'

In [62]:
m = m.upper ()

In [63]:
m

'ABC'

In [ ]:
#x is not mutable because x is a string

In [ ]:
#2.8 Semitic morphology involves intercalating vowels and consonants to exprss morphological categories. For example, the Arabic root k,t,b. 
#How might you use format () to describe this system? Give a sample respresntation for the root k,t,b and show how format () could be used to express different categories.

In [100]:
arabic_root_write = '{}k{}t{}b{}'

In [101]:
verb_activepast_3sg= arabic_root_write.format('','a','a','-a')

In [102]:
verb_activepast_3sg 
# the gloss is 'he wrote'

'katab-a'

In [103]:
verb_passivepast = arabic_root_write.format('','u','i','-a')

In [104]:
verb_passivepast
#The gloss is 'it was written'

'kutib-a'

In [105]:
noun_sg = arabic_root_write.format('','i','a','')

In [106]:
noun_sg
#The gloss is 'book'

'kitab'

In [107]:
verb_command = arabic_root_write.format('u','','u','')

In [109]:
verb_command
#The gloss is 'write!'

'uktub'

In [110]:
arabic_root_write

'{}k{}t{}b{}'

In [111]:
nominal_adjective = arabic_root_write.format('','ut','aa','')
#The gloss is 'writers'. 't' experienced gemination

In [112]:
nominal_adjective

'kuttaab'

In [ ]:
#2.9 You can use format to treat vowel harmony. Choose a simple vowel harmony systems and show how this might work.

In [ ]:
#According to the vowel harmony rule in Turkish, words cannot contain both front and round vowels. In addition, if a vowel is rounded, the following vowel is rounded as well.

In [135]:
turkish_front_vowels = ['e','i','ö','ü']

In [114]:
turkish_back_vowels = ['a', 'ı', 'o', 'u']

In [115]:
turkish_rounded_vowels = ['o', 'ö', 'u', 'ü']

In [116]:
turkish_unrounded_vowels = ['a', 'e', 'ı','i']

In [ ]:
#Turkish has two types of vowel harmony. One of these types is the 2-way vowel harmony or a-type or e-type vowel harmony

In [ ]:
#a-type: If one of the syllable has a back vowel, the preceding vowel has to be 'a'

In [ ]:
#e-type: If one of the syllable has a front vowel, the suffix has to have 'e'

In [ ]:
#If there is a back vowel in the verb stem, the suffix must have 'a'
#If there is a front vowel in the verb stem, suffix must have 'e'

In [117]:
etype_plural_suffix = 'ler'

In [118]:
atype_plural_suffix = 'lar'

In [137]:
string_bottle = 'sise{}'

In [ ]:
#In order to check if there is an element of a list in a string,
#We use if any (ext in string for ext in list): print()

In [140]:
if any(ext in string_bottle for ext in turkish_front_vowels):
    print(string_bottle.format(etype_plural_suffix))
#siseler's gloss is 'bottles'

siseler

In [142]:
string_door = 'kapi{}'

In [144]:
if any(ext in string_door for ext in turkish_back_vowels):
    print(string_door.format(atype_plural_suffix))

kapilar

In [ ]:
#2.10 You can use the dictionary data type in conjuction with the format () command to do translations between two languages
#Choose two languages, construct a small dictionary for them, then create some strings with which you can use your dictionary to do translations

In [153]:
tagalog_numbers = {'lets count':'magbilang tayo', 'one':'isa', 'two':'dalawa', 'three':'tatlo', 'four':'apat', 'five':'lima', 'six': 'anim', 'seven': 'pito', 'eight': 'walo', 'nine':'syam', 'ten':'sampu'}

In [152]:
korean_numbers = {'lets count':'세자','one':'하나', 'two':'둘', 'three':'셋', 'four':'넷', 'five':'다섯', 'six':'여섯', 'seven':'일곱', 'eight':'여덟', 'nine':'아홉', 'ten':'열'}

In [154]:
string_1 = '{lets count}! {one}, {two}, {three}, {four}, {five}'

In [155]:
string_1.format(**tagalog_numbers)

'magbilang tayo! isa, dalawa, tatlo, apat, lima'

In [157]:
string_1.format(**korean_numbers)

'세자! 하나, 둘, 셋, 넷, 다섯'

In [182]:
tagalog_animals = {'A mi me gusta':'mahilig ako sa', 'los':'mga', 'gatos':'pusa', 'perros':'aso', 'vacas':'baka', 'monos':'unggoy'}

In [186]:
spanish_animals = {'Mahilig ako sa':'a mi me gusta','mga':'los', 'pusa':'gatos', 'aso':'perros', 'baka':'vacas', 'unggoy':'monos'}

In [187]:
spanish_string = '{A mi me gusta} {los} {gatos}!'
#'I like cats!'

In [188]:
spanish_string.format(**tagalog_animals)

'mahilig ako sa mga pusa!'

In [189]:
tagalog_string = '{Mahilig ako sa} {mga} {unggoy}!'
#'I like monkeys!'

In [190]:
tagalog_string.format(**spanish_animals)

'a mi me gusta los monos!'

In [ ]:
#2.11 Lists and strings are similar in many ways. Describe and show with code three ways in which they are not alike.

In [ ]:
#a.Lists are mutable while strings are immutable. We cannot permanently edit a string.

In [209]:
string_example = 'a, e, i, o, u'

In [210]:
string_example.upper()

'A, E, I, O, U'

In [211]:
string_example

'a, e, i, o, u'

In [213]:
list_example = ['a','e','i','o','u']

In [215]:
list_example.pop(0)

'a'

In [216]:
list_example

['e', 'i', 'o', 'u']

In [ ]:
#b. In order to add something to a string, we have to use the + operator to concatenate two strings. In order to add something to a list, we use append()

In [ ]:
#I will try adding a ! to both the list and the string examples

In [226]:
list_example.append('!')

In [227]:
list_example

['e', 'i', 'o', 'u', '!']

In [ ]:
#If I want to add the ! in a specific position, I have to use insert()

In [228]:
list_example.insert(1,'!')

In [229]:
list_example

['e', '!', 'i', 'o', 'u', '!']

In [241]:
#We can also replace an element in the list using this way:
list_example[0] = 'a'
#I will replace 'e' with 'a'. We cannot use this list_name[position] = 'replacement' to strings. It will return an error.

In [240]:
list_example

['a', '!', 'i', 'o', 'u', '!']

In [242]:
string_example[0] = 'z'

TypeError: 'str' object does not support item assignment

In [ ]:
#Now, for the string, we have to use the + operator. However, we have to remember that strings are immutable.

In [232]:
string_example + '!'
#Therefore, the change will only reflect in this specific line of code with concatenation.

'a, e, i, o, u!'

In [231]:
string_example

'a, e, i, o, u'

In [ ]:
#c. Lists can have many types of data while strings can only have characters

In [233]:
list_example_3 = [1, 1.2, 'taylor swift', 4 + 3j]

In [238]:
string_example_2 = '1, 1.2,taylorswift, 4 + 3j'
#Although the list and the string above may seem like they have the same arguments or objects, they don't. The list has many data types while the string only has string characters. When I used the '', the integer, float, character, and complex number became a string. I had to remove the '' for taylor swift too because i can't put a string within a string.

In [218]:
#Side note: We can make a string into a list and a list into a string. However, a list can contain other types but a string can only contain characters.

In [219]:
list(string_example)

['a', ',', ' ', 'e', ',', ' ', 'i', ',', ' ', 'o', ',', ' ', 'u']

In [222]:
str(list_example)

"['e', 'i', 'o', 'u']"

In [ ]:
#2.12 Snoop around on the web and figure out how the set data type works. Explain and exemplify.

In [ ]:
#Sets are data types that are represented by {}. The dictionary uses {} too but sets don't have both keys and values separated by a :. It only has values separated by a ,

In [245]:
#It can have different data types inside
set_example = {'brocoli',1, 'celery', 1.5}

In [246]:
type(set_example)

set

In [ ]:
#Set items are unordered, unchangeable, and do not allow duplicate values.

In [ ]:
#Unordered: Items inside a set can appear in a different order every time you use them, and cannot be referred to by index or key.

In [249]:
set_example[0]

TypeError: 'set' object is not subscriptable

In [250]:
set_example.sort()

AttributeError: 'set' object has no attribute 'sort'

In [ ]:
#Duplicated elements are ignored. You can't have duplicates inside.

In [247]:
set_example = {'strawberries', 'bananas', 'grapes', 'bananas'}

In [248]:
set_example

{'bananas', 'grapes', 'strawberries'}

In [ ]:
#Unchangeable: we cannot change the items after the set has been created.

In [251]:
set_example.append('apples')

AttributeError: 'set' object has no attribute 'append'

In [ ]:
#We can use len() to know how many members in a set

In [252]:
len(set_example)

3